html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: "EYInterstate";
  src: url("./../fonts/EYInterstate-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "EYInterstate";
  src: url("./../fonts/EYInterstate-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "EYInterstate";
  src: url("./../fonts/EYInterstate-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "EYInterstate";
  src: url("./../fonts/EYInterstate-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "EYInterstate Light";
  src: url("./../fonts/EYInterstate-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "EYInterstate Light";
  src: url("./../fonts/EYInterstate-LightItalic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "EYInterstate Light";
  src: url("./../fonts/EYInterstate-LightBold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "EYInterstate Light";
  src: url("./../fonts/EYInterstate-LightBoldIt.ttf");
  font-style: italic;
  font-weight: bold;
}

html,
body {
  font-family: "EYInterstate Light";
  font-weight: normal;
  background: #33333D;
}

.wrapper {
  margin: 0 auto;
  max-width: 1800px;
}

.title {
  height: 44px;
  width: 318px;
  color: #ffffff;
  font-size: 35px;
  line-height: 44px;
  font-family: "EYInterstate Light";
}

.text {
  font-family: "EYInterstate Light";
  font-size: 20px;
  line-height: 26px;
  color: #C7C7D0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background: url("./../img/Header-bg.png") center bottom no-repeat;
  background-size: cover;
  padding: 20px 0 250px;
  position: relative;
}

header .wrapper {
  position: relative;
}

header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 400px;
}

header .header-menu__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .header-menu__image:first-of-type {
  margin-right: 30px;
  max-width: 120px;
  max-height: 30px;
}

header .header-menu__image:last-of-type {
  max-height: 56px;
  max-width: 55px;
}

header .header-menu__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-menu__link {
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  margin-right: 30px;
}

header .header-menu__btn {
  line-height: 60px;
  padding: 0 28px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  background: unset;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

header .header-menu__btn:first-of-type {
  margin-right: 10px;
}

header .social-media {
  position: absolute;
  top: 450px;
  left: 82.5%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .social-media__text {
  opacity: 0.5;
  color: #FFF;
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;
}

header .header-text {
  padding-left: 360px;
}

header .header-text__subtitle {
  color: #C7C7D0;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 2px;
}

header .header-text__title {
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  max-width: 852px;
}

header .header-text__desc {
  color: #FFF;
  font-size: 20px;
  line-height: 26px;
  max-width: 910px;
  padding: 0 0 0 38px;
  border-left: 2px solid #ffffff;
}

header .header-tag {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 140px 0 0;
}

header .header-tag__text {
  max-width: 172px;
  color: #C7C7D0;
  font-size: 28px;
  line-height: 34px;
}

.info {
  padding: 130px 0 80px;
}

.info__image {
  max-width: 500px;
}

.info-desc {
  margin-left: 25px;
}

.info-desc__text {
  color: #C7C7D0;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
}

.info-desc__title {
  color: #FFF;
  font-size: 35px;
  line-height: 44px;
  margin-bottom: 35px;
}

.info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data {
  background: #1A1A24;
  padding: 90px 0 100px;
}

.data .wrapper {
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data__title {
  color: #FFF;
  font-size: 35px;
  line-height: 44px;
  max-width: 720px;
  margin-left: 60px;
}

.data-time {
  border-right: 2px solid #ffffff;
  padding-right: 190px;
}

.data-time__text {
  color: #C7C7D0;
  font-size: 20px;
  line-height: 30px;
}

.news {
  padding: 140px 0 110px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-list__item {
  position: relative;
}

.news-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
  padding: 0 70px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.news-list__overlay-title {
  color: #FFF;
  font-size: 36px;
  line-height: 43px;
  padding-bottom: 20px;
  padding-left: 50px;
  border-left: 2px solid #ffffff;
}

.news-list__overlay-text {
  color: #C7C7D0;
  font-size: 20px;
  line-height: 30px;
  padding-left: 50px;
  border-left: 2px solid #ffffff;
}

.stream {
  padding: 110px 0 55px;
}

.stream .wrapper {
  max-width: 1195px;
}

.stream__title {
  color: #FFF;
  font-family: "EYInterstate Light";
  font-size: 35px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 25px;
}

.stream__text {
  color: #C7C7D0;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.winers {
  padding: 55px 0 110px;
  color: #ffffff;
}

.winers .winers-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 310px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.winers .winers-grid .two1 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.winers .winers-grid .two2 {
  grid-column-start: 5;
  grid-column-end: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.winers .winers-grid .three {
  grid-column-start: 3;
  grid-column-end: 6;
}

.winers .winers-grid__title {
  color: #FFF;
  font-size: 35px;
  line-height: 44px;
  margin: 50px auto 30px;
  max-width: 452px;
}

.winers .winers-grid__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.winers .winers-grid__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
}

.winers .winers-grid__list-item:last-of-type {
  margin-right: 0;
}

.winers .winers-grid__list-text {
  color: #C7C7D0;
  font-size: 20px;
  line-height: 22px;
}

.winers .winers-grid__list-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.winers .winers-grid__list-numbers img {
  margin-right: 20px;
}

.winers .winers-grid__list-numbers p {
  color: #C7C7D0;
  font-size: 36px;
  line-height: 50px;
}

.winers .winers-grid__item {
  position: relative;
}

.winers .winers-grid__image {
  max-width: 283px;
  max-height: 310px;
}

.winers .winers-grid__overlay {
  top: 0;
  padding: 17px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 283px;
  max-height: 310px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.8) 100%);
}

.winers .winers-grid__overlay-prize {
  position: absolute;
  top: 20px;
  right: 20px;
}

.winers .winers-grid__overlay-title {
  color: #FFF;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
}

.winers .winers-grid__overlay-name {
  color: #FFF;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 10px;
}

.winers .winers-grid__overlay-text {
  color: #C7C7D0;
  font-size: 16px;
  line-height: 22px;
}

.analitics {
  padding: 90px 0 100px;
  background: #1A1A24;
}

.analitics .wrapper {
  max-width: 1372px;
}

.analitics .wrapper .title {
  margin: 0 auto 30px;
}

.analitics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.analitics-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.analitics-list__item .text {
  max-width: 285px;
}

.analitics-list__number {
  color: #FFF;
  font-family: "EYInterstate Light";
  font-size: 35px;
  line-height: 44px;
  margin-right: 25px;
}

.analitics__btn {
  display: block;
  font-weight: bold;
  line-height: 60px;
  padding: 0 30px;
  background: unset;
  color: #ffffff;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
}

footer {
  padding: 70px 0px 150px;
}

footer .wrapper .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .wrapper .footer-list__item {
  margin-right: 20px;
}

footer .wrapper .footer-list__item:last-child {
  margin-right: 0;
}